body {
    font-family: 'Georgia', sans-serif;
    margin: 20px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
section{
    font-family: 'Georgia', sans-serif;
    margin: 20px;
    margin-bottom: 20px;
}
main {
    padding: 20px;
}

.container {
}
h2 {
    text-decoration: underline;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 5px 10px;
    vertical-align: top;
}
.description {
    width: 80%;
}
.date {
    width: 20%;
    text-align: right;
    white-space: nowrap;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

.profile-pic {
    float: right;
    width: 400px;
    border-radius: 50%;
    border: 2px solid #333;
    margin-right: 60px;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center; /* Center the tabs */
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin: 0 5px; /* Add some space between the buttons */
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

/* Show the tab content by default when active */
.tabcontent.active {
    display: block;
}
